* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #083B4C;
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 50px;
    margin: 20px 0px;
}

#container {
    max-width: 1000px;
    width: 100%;    
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.basic-box {
    width: 90px;
    height: 90px;
    background-color: #1389B2;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fizz-box {
    width: 90px;
    height: 90px;
    background-color: #0BD6A1;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buzz-box {
    width: 90px;
    height: 90px;
    background-color: #FFD166;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fizzbuzz-box {
    width: 90px;
    height: 90px;
    background-color: #F0466F;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}